doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet",href="css/app.css")
		//- link(rel="icon",type="image/png",href="images/favicon.png")

	body
		header
			.container
				.title
					.row
						.col-lg-12.text-center
							h5.head-title coastal &amp; co .
				.row.nav
					.col-lg-12.text-center
						ul.main-nav
							li: a(href="#col") collection
							li: a(href="#story") our story
							li: a(href="#blog") blog
							li: a(href="#contact") contact
				.row.cta
					.col-lg-12.text-center
						a.btn.btn-primary(href="") a minimalist theme
						
		section.window-1#col
			.container.text-center.window-main
				.row.top-content
					.col-lg-12
						h2 crafted for creative
						p display your portforlio in a beautiful, dynamic photo
				.row.text-center
					.col-lg-8.col-lg-offset-2
						.masonry
							.item.item-1
							.item.item-2
								.item-2-1
								.item-2-2
							.item.item-3
								
						
				
		//- div(style="height:2000px")
			
		section.story.text-center#story
			.story-board
				h4 our story
				p.sub-title  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi veritatis, doloremque. Quaerat.
				.row
					.col-lg-10.col-lg-offset-1
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia debitis consectetur unde explicabo, fugit provident, officiis, nobis ex illum eum voluptate facere ipsam obcaecati harum nam cupiditate molestiae reprehenderit aspernatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, error perspiciatis laboriosam dolores consequatur, expedita eveniet nemo minima et, optio aliquid neque. Reiciendis sint, pariatur dolore laudantium dicta, officia magni.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia debitis consectetur unde explicabo, fugit provident, officiis, nobis ex illum eum voluptate facere ipsam obcaecati harum nam cupiditate molestiae reprehenderit aspernatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, error perspiciatis laboriosam dolores consequatur, expedita eveniet nemo minima et, optio aliquid neque. Reiciendis sint, pariatur dolore laudantium dicta, officia magni.
				
		section.cta-board#blog
			a.cta(href="") read the blog
			
		section.contact-board#contact
			.container
				.story-board.text-center
					h4 get in touch
					p.sub-title we would love to hear from you
					form
						.row
							.col-md-4
								input(type="text" placeholder="Name")
							.col-md-4
								input(type="text" placeholder="Email")
							.col-md-4
								input(type="text" placeholder="Contact")
						.row
							.col-md-12
								textarea(type="text" placeholder="Message")
						.row
							.col-md-12
								a.btn(type="button" value="submit") send
		footer
			.container.text-center
				.row
					.col-md-4
						p subscribe our newsletter
						div
							input.s(type="text" placeholder="Your Email")
							label(for="name") 
								i(class="fa fa-envelope fa-2x")
						p hear from us
						.social-list
							i(class="fa fa-2x fa-twitter")
							i(class="fa fa-2x fa-facebook")
							i(class="fa fa-2x fa-google-plus")
							i(class="fa fa-2x fa-dribbble")
							i(class="fa fa-2x fa-digg")
							
					.col-md-4
						.card
							h4 Our Blog
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quisquam sapiente odit iusto, aspernatur cum! Incidunt numquam veritatis tempora, provident sapiente eos obcaecati, asperiores qui iusto voluptatibus, autem accusamus non.
					.col-md-4
						.card
							h4 Video
							img.img-responsive.img-rounded(src="https://s3.amazonaws.com/uifaces/faces/twitter/iannnnn/128.jpg", alt="")
		.wrapper
			.container.text-center
				p copyright &copy; 2015 designed with <i class="fa fa-heart fa-1x"></i> by rd
				
		
							
							
					
						
				
			
		
			
						
		//- div(style="height: 2000px")
					
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js")
	script(src="js/function.js")   
