doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css")
		link(rel="stylesheet",href="css/app.css")
		//- link(rel="icon",type="image/png",href="images/favicon.png")

	body
		header.container
			h1 Inline Link Styling
			p Modern Styles and effects for links in a text flow
		section
			section.link-fadeinbg
				p  Lorem ipsum dolor sit amet, <a href="">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo distinctio, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			section.link-slideup
				p  Lorem ipsum dolor sit amet, <a href="">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo distinctio, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			section.link-slideright
				p  Lorem ipsum dolor sit amet, <a href="">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo distinctio, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			section.link-scaleupbounce
				p  Lorem ipsum dolor sit amet, <a href="">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo <a href="">distinctio</a>, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			section.link-scaleup
				p  Lorem ipsum dolor sit amet, <a href="">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo distinctio, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			section.link-scaledown
				p  Lorem ipsum dolor sit amet, <a href="">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo distinctio, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			section.link-flip
				p  Lorem ipsum dolor sit amet, <a href="">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo distinctio, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			section.link-border
				p  Lorem ipsum dolor sit amet, <a href="">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo distinctio, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			section.link-curtain
				p  Lorem ipsum dolor sit amet, <a href="www.google.com">adipisicing</a> elit. Eaque fugiat, magnam! Ducimus suscipit accusantium, sed perspiciatis. Accusamus sunt, nemo distinctio, illo voluptate doloribus ipsa mollitia cum. Ex odio error inventore.
			
		//- div(style="height:2000px")
			
						
			
					
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js")
	script(src="js/function.js")    
