doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css")
		link(rel="stylesheet",href="css/app.css")
		//- link(rel="icon",type="image/png",href="images/favicon.png")

	body
		section.right-container
			section#first
				h1 section 1
			section#second
				h1 section 2
			section#third
				h1 section 3
		aside
			nav
				ul
					li
						a(href="#first") First
					li
						a(href="#second") Second
					li
						a(href="#third") Third
		//- div(style="height:2000px")
			
						
			
					
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js")
	script(src="js/function.js")    
